<nav class="navbar navbar-custom tt-default-nav" role="navigation">
  <div class="container">
  <div class="search-box-wrap pull-right hidden-sm hidden-xs">
  <div class="search-icon"></div>
  <input id="search-box" placeholder="Search">
  </div>
  <div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" routerLink="/" ><img src="assets/images/logo.png" alt=""></a>
  </div>
  <div class="collapse navbar-collapse" id="custom-collapse">
  <ul class="nav navbar-nav navbar-right">
  <li class="dropdown active">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
  <ul class="dropdown-menu">
  <li class="dropdown active">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Multi Page</a>
  <ul class="dropdown-menu">
  <li class="active"><a routerLink="/" >Default Homepage</a></li>
  <li><a href="mp-index-creative.html">Creative Homepage</a></li>
  <li><a href="mp-index-corporate.html">Corporate Homepage</a></li>
  <li><a href="mp-index-blog.html">Blog Homepage</a></li>
  <li><a href="mp-index-portfolio-1.html">Portfolio Home One</a></li>
  <li><a href="mp-index-portfolio-2.html">Portfolio Home Two</a></li>
  </ul>
  </li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">One Page</a>
  <ul class="dropdown-menu">
  <li><a href="op-index-default.html" target="_blank">Homepage Slider</a></li>
  <li><a href="op-index-parallax.html" target="_blank">Parallax Image BG</a></li>
  <li><a href="op-index-particle.html" target="_blank">Particle Image BG</a></li>
  <li><a href="op-index-text-rotator.html" target="_blank">Text rotator BG</a></li>
  <li><a href="op-index-static.html" target="_blank">Static Image BG</a></li>
  <li><a href="op-index-htmlvideo.html" target="_blank">HTML Video BG</a></li>
  <li><a href="op-index-youtube.html" target="_blank">Youtube Video BG</a></li>
  </ul>
  </li>
  </ul>
  </li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
  <ul class="dropdown-menu">
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">About</a>
  <ul class="dropdown-menu">
  <li><a routerLink="/about" >About Us</a></li>
  <li><a href="about-us-two.html">About Us Two</a></li>
  </ul>
  </li>
  <li><a href="services.html">Services</a></li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Case Study Pages</a>
  <ul class="dropdown-menu">
  <li><a href="case-study-one.html">Case Study One</a></li>
  <li><a href="case-study-two.html">Case Study Two</a></li>
  </ul>
  </li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">404 Pages</a>
  <ul class="dropdown-menu">
  <li><a href="404.html">404 Page</a></li>
  <li><a href="404-alt.html">404 Page Alt</a></li>
  </ul>
  </li>
  <li><a href="contact.html">Contact</a></li>
  <li><a href="typography.html">Typography</a></li>
  </ul>
  </li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features</a>
  <ul class="dropdown-menu">
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sliders</a>
  <ul class="dropdown-menu">
  <li><a href="slider-revolution-fullscreen.html">Revolution FullScreen</a></li>
  <li><a href="slider-revolution-kenburns.html">Revolution Kenburns</a></li>
  <li><a href="slider-bs-boxed.html">Bootstrap Boxed</a></li>
   <li><a href="slider-flex-thumb.html">Flex Thumbnail</a></li>
  </ul>
  </li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hero Units</a>
  <ul class="dropdown-menu">
  <li><a href="slider-parallax-bg.html">Parallax BG</a></li>
  <li><a href="slider-static-bg.html">Static BG</a></li>
  <li><a href="slider-particle-bg.html">Particle BG</a></li>
  <li><a href="slider-html5-video.html">HTML Video</a></li>
  <li><a href="slider-youtube-bg.html">Youtube Video</a></li>
  </ul>
  </li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu Style</a>
  <ul class="dropdown-menu">
  <li><a href="menu-default.html">Default Menu</a></li>
  <li><a href="menu-transparent.html">Transparent Menu</a></li>
  <li><a href="menu-fullscreen.html" target="_blank">Fullscreen Menu</a></li>
  </ul>
  </li>
  <li><a href="shortcode-testimonial.html">Testimonial Styles</a></li>
  <li><a href="shortcode-video-and-audio.html">Embeded Videos</a></li>
  </ul>
  </li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
  <ul class="dropdown-menu" role="menu">
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Boxed</a>
  <ul class="dropdown-menu">
  <li><a href="portfolio-two-boxed.html">2 Columns</a></li>
  <li><a href="portfolio-three-boxed.html">3 Columns</a></li>
  <li><a href="portfolio-four-boxed.html">4 Columns</a></li>
  <li><a href="portfolio-five-boxed.html">5 Columns</a></li>
  </ul>
  </li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Boxed - Gutter</a>
  <ul class="dropdown-menu">
  <li><a href="portfolio-two-boxed-gutter.html">2 Columns</a></li>
  <li><a href="portfolio-three-boxed-gutter.html">3 Columns</a></li>
  <li><a href="portfolio-four-boxed-gutter.html">4 Columns</a></li>
  <li><a href="portfolio-five-boxed-gutter.html">5 Columns</a></li>
  </ul>
  </li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Wide</a>
  <ul class="dropdown-menu">
  <li><a href="portfolio-two-fullwidth.html">2 Columns</a></li>
  <li><a href="portfolio-three-fullwidth.html">3 Columns</a></li>
  <li><a href="portfolio-four-fullwidth.html">4 Columns</a></li>
  <li><a href="portfolio-five-fullwidth.html">5 Columns</a></li>
  </ul>
  </li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Wide - Gutter</a>
  <ul class="dropdown-menu">
  <li><a href="portfolio-two-fullwidth-gutter.html">2 Columns</a></li>
  <li><a href="portfolio-three-fullwidth-gutter.html">3 Columns</a></li>
  <li><a href="portfolio-four-fullwidth-gutter.html">4 Columns</a></li>
  <li><a href="portfolio-five-fullwidth-gutter.html">5 Columns</a></li>
  </ul>
  </li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio Tiles</a>
  <ul class="dropdown-menu">
  <li><a href="portfolio-tiles-two-column.html">2 Columns</a></li>
  <li><a href="portfolio-tiles-three-column.html">3 Columns</a></li>
  <li><a href="portfolio-tiles-four-column.html">4 Columns</a></li>
  </ul>
  </li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio Details</a>
  <ul class="dropdown-menu">
  <li><a href="portfolio-single.html">Details 1</a></li>
  <li><a href="portfolio-single-alt.html">Details 2</a></li>
  <li><a href="portfolio-single-gallery.html">Details Gallery</a></li>
  </ul>
  </li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Case Study Pages</a>
  <ul class="dropdown-menu">
  <li><a href="case-study-one.html">Case Study One</a></li>
  <li><a href="case-study-two.html">Case Study Two</a></li>
  </ul>
  </li>
  </ul>
  </li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
  <ul class="dropdown-menu" role="menu">
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Classic</a>
  <ul class="dropdown-menu">
  <li><a href="blog-standard.html">Sidebar Right</a></li>
  <li><a href="blog-standard-left-sidebar.html">Sidebar Left</a></li>
  </ul>
  </li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Grid</a>
  <ul class="dropdown-menu">
  <li><a href="blog-grid-style.html">Grid 3 Column</a></li>
  <li><a href="blog-grid-left-sidebar.html">Grid Left Sidebar</a></li>
  <li><a href="blog-grid-right-sidebar.html">Grid Right Sidebar</a></li>
  </ul>
  </li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Masonry</a>
  <ul class="dropdown-menu">
  <li><a href="blog-masonry-four.html">Masonry 4</a></li>
  <li><a href="blog-masonry-four-fullwidth.html">Masonry 4 FullWidth</a></li>
  <li><a href="blog-masonry-three.html">Masonry 3</a></li>
  <li><a href="blog-masonry-three-fullwidth.html">Masonry 3 FullWidth</a></li>
  <li><a href="blog-masonry-two.html">Masonry 2</a></li>
  </ul>
  </li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog Details</a>
  <ul class="dropdown-menu">
  <li><a href="blog-single-article.html">Single Article</a></li>
  <li><a href="blog-single-left-sidebar.html">Single Left Sidebar</a></li>
  </ul>
  </li>
  </ul>
   </li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shortcodes</a>
  <ul class="dropdown-menu" role="menu">
  <li><a href="shortcode-accordion.html"><i class="fa fa-server"></i>&nbsp; Accordion</a></li>
  <li><a href="shortcode-alert.html"><i class="fa fa-info-circle"></i>&nbsp; Alerts</a></li>
  <li><a href="shortcode-calltoaction.html"><i class="fa fa-phone-square"></i>&nbsp; Call To Action</a></li>
  <li><a href="shortcode-client.html"><i class="fa fa-user"></i>&nbsp; Clients Styles</a></li>
  <li><a href="shortcode-featured-box.html"><i class="fa fa-list-alt"></i>&nbsp; Featured Box</a></li>
  <li><a href="shortcode-fun-facts.html"><i class="fa fa-clock-o"></i>&nbsp; Fun Facts</a></li>
  <li><a href="shortcode-hero-block.html"><i class="fa fa-desktop"></i>&nbsp; Wide Sections</a></li>
  <li><a href="shortcode-portfolio.html"><i class="fa fa-picture-o"></i>&nbsp; Hover Styles</a></li>
  <li><a href="shortcode-progressbar.html"><i class="fa fa-tasks"></i>&nbsp; Progressbar</a></li>
  <li><a href="shortcode-tab.html"><i class="fa fa-rocket"></i>&nbsp; Tab</a></li>
  <li><a href="shortcode-table.html"><i class="fa fa-table"></i>&nbsp; Table</a></li>
  <li><a href="shortcode-testimonial.html"><i class="fa fa-quote-right"></i>&nbsp; Testimonial</a></li>
  </ul>
  </li>
  <li><a href="contact.html">Contact</a></li>
  </ul>
  </div>
  </div>
  </nav>
