

  <section class="page-title-section about-us-one" data-stellar-background-ratio="0.1">
  <div class="container">
  <div class="page-header text-center">
  <h1>About 69Studio</h1>
  </div>
  </div>
  </section>

  <section class="section-padding">
  <div class="container">
  <div class="about-intro">
  <p>Uniquely disseminate economically sound bandwidth and frictionless methodologies. Quickly reinvent cross functional infrastructures without high standards in niche markets. Distinctively visualize open-source functionalities rather than interdependent e-business. Interactively simplify client-based collaboration and idea-sharing and goal-oriented intellectual capital. Phosfluorescently foster e-business sources whereas sustainable internal or "organic" sources.</p>
  <p>Continually underwhelm visionary models with cross-unit synergy. Uniquely leverage other's premium convergence before progressive data. Proactively monetize performance based expertise through intuitive alignments. Monotonectally promote worldwide portals through ubiquitous relationships. Efficiently transform premier vortals with enabled human capital.</p>
  <div class="video-intro mt-30">
  <img src="assets/images/video-thumb.jpg" class="img-responsive " alt="Image">
  <a class="external-link popup-youtube" href="https://www.youtube.com/watch?v=A1CoJKju-YI" title=""><i class="fa fa-play"></i></a>
  </div>
  </div>
  </div>
  </section>

  <section class="advantage-section">
  <div class="container">
  <div class="text-center">
  <h2 class="section-title">Our Advantage</h2>
  <p class="sub-title">Miami introduces the most flexible layout ever to the world of WordPress Themes. <br> We provide you with a Toolkit to build your Dreams!</p>
  </div>
  <div class="row mt-80 features">
  <div class="col-md-7">
  <div class="media">
  <a class="media-left" href="#">
  <i class="flaticon-document28"></i>
  </a>
  <div class="media-body">
  <h3 class="media-heading"><a href="#">Creative</a></h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla similique eaque aliquam quia, facilis tempore natus.</p>
  </div>
  </div>
  <div class="media">
  <a class="media-left" href="#">
  <i class="flaticon-pencil112"></i>
  </a>
  <div class="media-body">
  <h3 class="media-heading"><a href="#">Innovative</a></h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla similique eaque aliquam quia, facilis tempore natus.</p>
  </div>
  </div>
  <div class="media">
  <a class="media-left" href="#">
  <i class="flaticon-newspapers2"></i>
  </a>
  <div class="media-body">
  <h3 class="media-heading"><a href="#">Productive</a></h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla similique eaque aliquam quia, facilis tempore natus.</p>
  </div>
  </div>
  <div class="media">
  <a class="media-left" href="#">
  <i class="flaticon-lightbulb24"></i>
  </a>
  <div class="media-body">
  <h3 class="media-heading"><a href="#">Design with Fun</a></h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla similique eaque aliquam quia, facilis tempore natus.</p>
  </div>
  </div>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs advantage-img-wrapper">
  <img src="assets/images/advantage-img.png" class="img-responsive " alt="Image">
  </div>
  </div>
  </div>
  </section>

  <section class="history-section">
  <div class="container-fluid">
  <div class="row">
  <div class="col-lg-6 col-md-5 no-padding">
  <div class="history-cover"></div>
  </div>
  <div class="col-lg-6 col-md-7 no-padding">
  <div class="history-wrapper">
  <h2>Our 3 Years Business History</h2>
  <div id="historyCarousel" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
  <div class="item active">
  <h3>2012 : Launch Business</h3>
  <p>Interactively visualize state of the art architectures and dynamic architectures. Monotonectally administrate cross-unit testing procedures and high-quality networks. Distinctively unleash leveraged channels without enterprise-wide
  alignments. Collaboratively negotiate leveraged markets via low-risk high-yield strategic theme areas. Distinctively unleash leveraged channels without enterprise-wide alignments.</p>
  <p>Collaboratively negotiate leveraged markets via low-risk high-yield strategic theme areas.</p>
  </div>
  <div class="item">
  <h3>2013 : Launch Business</h3>
  <p>Interactively visualize state of the art architectures and dynamic architectures. Monotonectally administrate cross-unit testing procedures and high-quality networks. Distinctively unleash leveraged channels without enterprise-wide
  alignments. Collaboratively negotiate leveraged markets via low-risk high-yield strategic theme areas. Distinctively unleash leveraged channels without enterprise-wide alignments.</p>
  <p>Collaboratively negotiate leveraged markets via low-risk high-yield strategic theme areas.</p>
  </div>
  <div class="item">
  <h3>2014 : Launch Business</h3>
  <p>Interactively visualize state of the art architectures and dynamic architectures. Monotonectally administrate cross-unit testing procedures and high-quality networks. Distinctively unleash leveraged channels without enterprise-wide
  alignments. Collaboratively negotiate leveraged markets via low-risk high-yield strategic theme areas. Distinctively unleash leveraged channels without enterprise-wide alignments.</p>
  <p>Collaboratively negotiate leveraged markets via low-risk high-yield strategic theme areas.</p>
  </div>
  </div>

  <a class="left carousel-control" href="#historyCarousel" role="button" data-slide="prev">
  <span class="fa fa-angle-left" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#historyCarousel" role="button" data-slide="next">
  <span class="fa fa-angle-right" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
  </a>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>

  <section class="more-about-section section-padding">
  <div class="container">
  <div class="text-center">
  <h2 class="section-title">Know More About Us</h2>
  <p class="sub-title">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur <br> magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
  </div>
  <div class="row mt-80">
  <div class="col-md-5">
  <div class="creative-skills">
  <h2>Our Creative Skills</h2>
  <div class="skill-progress">
  <span class="skill-title">Print Design</span>
  <div class="progress">
  <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
  </div>
  </div>
  </div>
  <div class="skill-progress">
  <span class="skill-title">Web Design</span>
  <div class="progress">
  <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
  </div>
  </div>
  </div>
  <div class="skill-progress">
  <span class="skill-title">Web Development</span>
  <div class="progress">
  <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
  </div>
  </div>
  </div>
  <div class="skill-progress">
  <span class="skill-title">Creativity Level</span>
  <div class="progress">
  <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="col-md-7">
  <div class="faq-section">
  <h2>FAQ Answers</h2>
  <div class="panel-group accordion-v1" id="faq-accordion">
  <div class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title">
  <a data-toggle="collapse" data-parent="#faq-accordion" href="#collapseOne">
  Why choose us?
  </a>
  </h3>
  </div>
  <div id="collapseOne" class="panel-collapse collapse in">
  <div class="panel-body">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt maiores placeat obcaecati, beatae. Facilis dolore ipsam facere perferendis deserunt commodi blanditiis nisi accusamus omnis, animi vel tenetur cumque, sed veritatis?
  </div>
  </div>
  </div>
  <div class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title">
  <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion" href="#collapseTwo">
  What we do?
  </a>
  </h3>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse">
  <div class="panel-body">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt maiores placeat obcaecati, beatae. Facilis dolore ipsam facere perferendis deserunt commodi blanditiis nisi accusamus omnis, animi vel tenetur cumque, sed veritatis?
  </div>
  </div>
  </div>
  <div class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title">
  <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion" href="#collapseThree">
  How do we work?
  </a>
   </h3>
  </div>
  <div id="collapseThree" class="panel-collapse collapse">
  <div class="panel-body">
  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>

  <section class="client-slider-v2-wrapper">
  <div class="overlay-bg section-padding">
  <div class="container">
  <div id="client-slider-v2" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner" role="listbox">

  <div class="item active">
  <blockquote>
  <div class="row">
  <div class="col-lg-8 col-lg-offset-2 testimonial-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <span class="author">Kris Jegenes, <span>Ventive</span></span>
  </div>
  </div>
  </blockquote>
  </div>

  <div class="item">
  <blockquote>
  <div class="row">
  <div class="col-lg-8 col-lg-offset-2 testimonial-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <span class="author">Kris Jegenes, <span>Ventive</span></span>
  </div>
  </div>
  </blockquote>
  </div>

  <div class="item">
  <blockquote>
  <div class="row">
  <div class="col-lg-8 col-lg-offset-2 testimonial-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <span class="author">Kris Jegenes, <span>Ventive</span></span>
  </div>
  </div>
  </blockquote>
  </div>
  </div>

  <a class="left carousel-control" href="#client-slider-v2" role="button" data-slide="prev">
  <span class="fa fa-angle-left" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#client-slider-v2" role="button" data-slide="next">
  <span class="fa fa-angle-right" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
  </a>
  </div>
  </div>
  </div>
  </section>


  <section class="client-section section-padding">
  <div class="container">
  <div class="text-center">
  <h2 class="section-title">Our happy clients</h2>
  <p class="sub-title">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur <br> magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
  </div>
  <div class="row mt-80 text-center">
  <div class="col-xs-6 col-sm-3 client bwWrapper">
  <a href="#"><img src="assets/images/partner/partner-1.jpg" alt=""></a>
  </div>
  <div class="col-xs-6 col-sm-3 client bwWrapper">
  <a href="#"><img src="assets/images/partner/partner-1.jpg" alt=""></a>
  </div>
  <div class="col-xs-6 col-sm-3 client bwWrapper">
  <a href="#"><img src="assets/images/partner/partner-1.jpg" alt=""></a>
  </div>
  <div class="col-xs-6 col-sm-3 client bwWrapper">
  <a href="#"><img src="assets/images/partner/partner-1.jpg" alt=""></a>
  </div>
  <div class="col-xs-6 col-sm-3 client bwWrapper">
  <a href="#"><img src="assets/images/partner/partner-1.jpg" alt=""></a>
  </div>
  <div class="col-xs-6 col-sm-3 client bwWrapper">
  <a href="#"><img src="assets/images/partner/partner-1.jpg" alt=""></a>
  </div>
  <div class="col-xs-6 col-sm-3 client bwWrapper">
  <a href="#"><img src="assets/images/partner/partner-1.jpg" alt=""></a>
  </div>
  <div class="col-xs-6 col-sm-3 client bwWrapper">
  <a href="#"><img src="assets/images/partner/partner-1.jpg" alt=""></a>
  </div>
  <div class="col-xs-6 col-sm-3 client bwWrapper">
  <a href="#"><img src="assets/images/partner/partner-1.jpg" alt=""></a>
  </div>
  <div class="col-xs-6 col-sm-3 client bwWrapper">
  <a href="#"><img src="assets/images/partner/partner-1.jpg" alt=""></a>
  </div>
  <div class="col-xs-6 col-sm-3 client bwWrapper">
  <a href="#"><img src="assets/images/partner/partner-1.jpg" alt=""></a>
  </div>
  <div class="col-xs-6 col-sm-3 client bwWrapper">
  <a href="#"><img src="assets/images/partner/partner-1.jpg" alt=""></a>
  </div>
  </div>
  </div>
  </section>

